.loginMainContaier{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

#topMargin{
    margin-top: 60px;
    display: block;
}

#inputText{
    color: grey;
    border: none;
    border-radius: 5px;
    margin-top: 25px;
    padding:5px;
    text-align: center;
    width: 60%;
    height: 30px;
}

#logo{
    font-size: 60px;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #fff;
    margin: 0 auto;
}

#inButton{
    border: none;
    padding: 10px;
    width: 140px;
    background-color: white;
    color: grey;
    margin-top: 25px;
    border-radius: 25px;
}

.loginContainer {
    text-align: center;
    height: 525px;
    width: 600px;
    margin-top: 10%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #888888;
    background: #9152f8;
    background: -webkit-linear-gradient(top, #7579ff, #b224ef);
}

@media screen and (max-width:600px){
    .loginContainer{
    margin-left: 10%;
    height: 400px;
    width: 300px;
    }
    
    #topMargin{
        height: 0px;
    }
    .loginContainer{
        height: 600px;
    }
}